body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%; 
    margin: auto;
    overflow: hidden;
}



header{
    background-color: #221fb1;
    color: #ffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

#createBounty{
    padding: 15px;
    color: #ffff;
    background-color: #4140a5;
}

#createBounty h1{
    float: left;
}

#createBounty form{
    float: right;
    margin-top: 20px;
}

#createBounty input {
    padding: 4px;
    height: 25px;
    width: 250px;
}

#createBounty button{
    height: 38px;
    background: #e8491d;
    border: 0px;
    color: #ffff;
    padding-left: 20px;
    padding-right: 20px;
}
